1.(i) name = "subhajit"
  (ii) item_no = [1,2,4,5,]
  (iii) cost_price=455.67
  (iv)subject=("mathematics","physics","english")

2.(i)it is not any data type
  (ii)it is not any data type
  (iii)it is not any data type
  (iv)float type

 3. (i)Division
    (ii)Modulus
    (iii)Floor Division
    (iv)Exponent

In [ ]:
4.student_details=["amal_senapati","mechanical","Bishnupur","Bankura",722122,9800722122,67.8,True,"mit","pratap_senapati"]
for i in student_details:
    print(i,type(i))

In [ ]:
5.i=1
while i<100 :
    if i%10==0:
        print(i)
    i=i+1

In [ ]:
6)li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in li:
    if i %3==0:
        print(i,"that number is multiple of 3")
    else :
        print(i,"that number is not multiple of 3")

7)Mutable:which object allow to change their value without affecting the object's identity.Example List,Sets,and Dictionary.

immutable : immutabale object donot allow to change their any kind of value . example tuple,